In [1]:
import requests
import pandas as pd
from prefect import flow, task, get_run_logger

In [2]:
base_url = "http://air4thai.pcd.go.th"
path = "/services/getNewAQI_JSON.php"

In [3]:
#logger = get_run_logger()
response = requests.get(url=base_url+path)
response.raise_for_status()
AQI_stats = response.json()
data = AQI_stats['stations']
print(data[0:2])
#logger.info(AQI_stats)

[{'stationID': '02t', 'nameTH': 'มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา', 'nameEN': 'Bansomdejchaopraya Rajabhat University', 'areaTH': 'แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ', 'areaEN': 'Hiran Ruchi, Khet Thon Buri, Bangkok', 'stationType': 'GROUND', 'lat': '13.732846', 'long': '100.487662', 'forecast': [], 'AQILast': {'date': '2025-05-28', 'time': '17:00', 'PM25': {'color_id': '1', 'aqi': '21', 'value': '12.3'}, 'PM10': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'O3': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'CO': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'NO2': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'SO2': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'AQI': {'color_id': '1', 'aqi': '21', 'param': 'PM25'}}}, {'stationID': '03t', 'nameTH': 'ริมถนนทางหลวงหมายเลข 3902 ', 'nameEN': 'Highway NO.3902 km.13 +600', 'areaTH': 'ริมถนนกาญจนาภิเษก เขตบางขุนเทียน, กรุงเทพฯ', 'areaEN': 'Kanchanaphisek Rd, Bang Khun Thian, Bangkok', 'stationType': 'GROUND', 'lat': '13.636514', 'long': '100.414262', 'forecast': [], 'AQILast': {'date': '2025-05-27', 'time': '20:00', 'PM25': {'color_id': '1', 'aqi': '18', 'value': '11.0'}, 'PM10': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'O3': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'CO': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'NO2': {'color_id': '0', 'aqi': '-1', 'value': '-1'}, 'SO2': {'color_id': '0', 'aqi': '-999', 'value': '-1'}, 'AQI': {'color_id': '-1', 'aqi': '18', 'param': 'PM25'}}}]

In [4]:
data[0]

{'stationID': '02t',
 'nameTH': 'มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา',
 'nameEN': 'Bansomdejchaopraya Rajabhat University',
 'areaTH': 'แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ',
 'areaEN': 'Hiran Ruchi, Khet Thon Buri, Bangkok',
 'stationType': 'GROUND',
 'lat': '13.732846',
 'long': '100.487662',
 'forecast': [],
 'AQILast': {'date': '2025-05-28',
  'time': '17:00',
  'PM25': {'color_id': '1', 'aqi': '21', 'value': '12.3'},
  'PM10': {'color_id': '0', 'aqi': '-1', 'value': '-1'},
  'O3': {'color_id': '0', 'aqi': '-1', 'value': '-1'},
  'CO': {'color_id': '0', 'aqi': '-1', 'value': '-1'},
  'NO2': {'color_id': '0', 'aqi': '-1', 'value': '-1'},
  'SO2': {'color_id': '0', 'aqi': '-1', 'value': '-1'},
  'AQI': {'color_id': '1', 'aqi': '21', 'param': 'PM25'}}}

In [5]:
df = pd.DataFrame(data)
df.head()

,stationID,nameTH,nameEN,areaTH,areaEN,stationType,lat,long,forecast,AQILast
0,02t,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,Bansomdejchaopraya Rajabhat University,"แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ","Hiran Ruchi, Khet Thon Buri, Bangkok",GROUND,13.732846,100.487662,[],"{'date': '2025-05-28', 'time': '17:00', 'PM25'..."
1,03t,ริมถนนทางหลวงหมายเลข 3902,Highway NO.3902 km.13 +600,"ริมถนนกาญจนาภิเษก เขตบางขุนเทียน, กรุงเทพฯ","Kanchanaphisek Rd, Bang Khun Thian, Bangkok",GROUND,13.636514,100.414262,[],"{'date': '2025-05-27', 'time': '20:00', 'PM25'..."
2,11t,การเคหะชุมชนห้วยขวาง,National Housing Huaykwang,"แขวงดินแดง เขตดินแดง, กรุงเทพฯ","Din Daeng, Khet Din Daeng, Bangkok",GROUND,13.77553,100.569195,[],"{'date': '2025-05-02', 'time': '12:00', 'PM25'..."
3,12t,โรงเรียนนนทรีวิทยา,Nonsi Witthaya School,"แขวงช่องนนทรี เขตยานนาวา, กรุงเทพฯ","Chong Nonsi, Khet Yannawa, Bangkok",GROUND,13.70806667,100.5473333,[],"{'date': '2025-05-28', 'time': '17:00', 'PM25'..."
4,50t,โรงพยาบาลจุฬาลงกรณ์,Chulalongkorn Hospital,"ริมถนนพระราม 4 เขตปทุมวัน, กรุงเทพฯ","Rama IV Rd. Khet Pathum Wan, Bangkok",GROUND,13.729852,100.536501,[],"{'date': '2025-05-28', 'time': '17:00', 'PM25'..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationID    185 non-null    object
 1   nameTH       185 non-null    object
 2   nameEN       185 non-null    object
 3   areaTH       185 non-null    object
 4   areaEN       185 non-null    object
 5   stationType  185 non-null    object
 6   lat          185 non-null    object
 7   long         185 non-null    object
 8   forecast     185 non-null    object
 9   AQILast      185 non-null    object
dtypes: object(10)
memory usage: 14.6+ KB

In [6]:
# Count number of stations
df['nameEN'].nunique()

184

In [9]:
# Test Get Files in LakeFS
import os
import pandas as pd
import json
import pyarrow.parquet as pq
import s3fs

# กำหนดค่า Access Key/Secret Key/Endpoint
lakefs_endpoint = os.getenv("LAKEFS_ENDPOINT", "http://lakefs-dev:8000")
ACCESS_KEY = os.getenv("LAKEFS_ACCESS_KEY", "access_key")
SECRET_KEY = os.getenv("LAKEFS_SECRET_KEY", "secret_key")

fs = s3fs.S3FileSystem(
    key=ACCESS_KEY,
    secret=SECRET_KEY,
    client_kwargs={'endpoint_url': lakefs_endpoint}
)

In [10]:
lake_path = "s3://air-quality/main/airquality.parquet/year=2025"
data_list = fs.glob(f"{lake_path}/*/*/*/*")
len(data_list)

172

In [11]:
df_all = pd.concat([pd.read_parquet(f"s3://{path}", filesystem=fs) for path in data_list], ignore_index=True)
df_all

,timestamp,stationID,nameTH,nameEN,areaTH,areaEN,stationType,lat,long,PM25.color_id,PM25.aqi,year,month,day,hour
0,2025-05-17 10:00:00,02t,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,Bansomdejchaopraya Rajabhat University,"แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ","Hiran Ruchi, Khet Thon Buri, Bangkok",GROUND,13.732846,100.487662,2,28,2025,5,17,10
1,2025-05-17 10:00:00,03t,ริมถนนทางหลวงหมายเลข 3902,Highway NO.3902 km.13 +600,"ริมถนนกาญจนาภิเษก เขตบางขุนเทียน, กรุงเทพฯ","Kanchanaphisek Rd, Bang Khun Thian, Bangkok",GROUND,13.636514,100.414262,3,55,2025,5,17,10
2,2025-05-17 10:00:00,11t,การเคหะชุมชนห้วยขวาง,National Housing Huaykwang,"แขวงดินแดง เขตดินแดง, กรุงเทพฯ","Din Daeng, Khet Din Daeng, Bangkok",GROUND,13.77553,100.569195,3,53,2025,5,17,10
3,2025-05-17 10:00:00,12t,โรงเรียนนนทรีวิทยา,Nonsi Witthaya School,"แขวงช่องนนทรี เขตยานนาวา, กรุงเทพฯ","Chong Nonsi, Khet Yannawa, Bangkok",GROUND,13.70806667,100.5473333,2,48,2025,5,17,10
4,2025-05-17 10:00:00,50t,โรงพยาบาลจุฬาลงกรณ์,Chulalongkorn Hospital,"ริมถนนพระราม 4 เขตปทุมวัน, กรุงเทพฯ","Rama IV Rd. Khet Pathum Wan, Bangkok",GROUND,13.729852,100.536501,3,60,2025,5,17,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31983,2025-05-26 19:00:00,72t,สวนสาธารณะเฉลิมพระเกียรติ 60 พรรษามหาราชินี จั...,"60th Anniversary Queen Sirikit Public Park, Loei","ต.กุดป่อง อ.เมือง, เลย","Kut Pong Subdistrict, Mueang District, Loei",GROUND,17.48462,101.732734,1,9,2025,5,26,19
31984,2025-05-26 19:00:00,69t,อุตุนิยมวิทยาจังหวัดแพร่,"Meteorology Center, Phrae","ต.นาจักร อ.เมือง, แพร่","Na Chak, Meuang, Phrae",GROUND,18.1283666,100.1624333,1,12,2025,5,26,19
31985,2025-05-26 19:00:00,58t,สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดแ...,"Natural Resources and Environment Office, Mae ...","ต.จองคำ อ.เมือง, แม่ฮ่องสอน","Chong Kham, Meuang, Mae Hong Son",GROUND,19.30455,97.97165,1,6,2025,5,26,19
31986,2025-05-26 19:00:00,o24,เทศบาลตำบลปาย,Pai Municipality,"ต.เวียงใต้ อ.ปาย, แม่ฮ่องสอน","Pai, Pai, Mae Hong Son",MOBILE,19.3591522,98.4364794,1,9,2025,5,26,19
31987,2025-05-26 19:00:00,o29,ที่ว่าการอำเภอแม่สะเรียง,Mae Sariang District Office,"ต.แม่สะเรียง อ.แม่สะเรียง, แม่ฮ่องสอน","Mae Sariang, Mae Sariang District, Mae Hong Son",MOBILE,18.158912,97.93271,1,9,2025,5,26,19

In [13]:
df_all['lat'] = pd.to_numeric(df_all['lat'], errors='coerce')
df_all['long'] = pd.to_numeric(df_all['long'], errors='coerce')
df_all['year'] = df_all['year'].astype(int) 
df_all['month'] = df_all['month'].astype(int)
df_all['day'] = df_all['day'].astype(float)
df_all['hour'] = df_all['hour'].astype(float)
df_all['PM25.color_id'] = df_all['PM25.color_id'].astype(float)
columns_to_convert = ['stationID', 'nameTH', 'nameEN', 'areaTH', 'areaEN', 'stationType']
for col in columns_to_convert:
    df_all[col] = df_all[col].astype(pd.StringDtype())
df_all.drop_duplicates(inplace=True)

In [14]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24929 entries, 0 to 31987
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      24929 non-null  datetime64[ns]
 1   stationID      24929 non-null  string
 2   nameTH         24929 non-null  string
 3   nameEN         24929 non-null  string
 4   areaTH         24929 non-null  string
 5   areaEN         24929 non-null  string
 6   stationType    24929 non-null  string
 7   lat            24929 non-null  float64
 8   long           24929 non-null  float64
 9   PM25.color_id  24929 non-null  float64
 10  PM25.aqi       24929 non-null  int64
 11  year           24929 non-null  int64
 12  month          24929 non-null  int64
 13  day            24929 non-null  float64
 14  hour           24929 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3), string(6)
memory usage: 3.0 MB

In [15]:
df_all.describe()

,timestamp,lat,long,PM25.color_id,PM25.aqi,year,month,day,hour
count,24929,24929.000000,24929.000000,24929.000000,24929.000000,24929.0,24929.0,24929.000000,24929.000000
mean,2025-05-21 05:55:08.291547648,14.253904,100.698833,1.513739,27.000401,2025.0,5.0,20.756549,11.761804
min,2025-05-17 02:00:00,5.763873,97.932710,0.000000,-9999.000000,2025.0,5.0,17.000000,0.000000
25%,2025-05-18 22:00:00,13.682136,100.343164,1.000000,16.000000,2025.0,5.0,18.000000,6.000000
50%,2025-05-20 18:00:00,13.776664,100.546870,1.000000,23.000000,2025.0,5.0,20.000000,12.000000
75%,2025-05-23 12:00:00,15.173056,100.780708,2.000000,36.000000,2025.0,5.0,23.000000,18.000000
max,2025-05-26 19:00:00,20.427325,104.846219,4.000000,125.000000,2025.0,5.0,26.000000,23.000000
std,NaN,2.698995,1.208740,0.640909,65.353923,0.0,0.0,2.789651,7.020188

In [16]:
# เปลี่ยนค่าที่น้อยกว่า 0 เป็น NaN เฉพาะในคอลัมน์ PM25.aqi
df_all['PM25.aqi'] = df_all['PM25.aqi'].mask(df_all['PM25.aqi'] < 0, pd.NA)

# เติมค่าจากค่า "ก่อนหน้า" โดยกลุ่มตาม stationID
df_all['PM25.aqi'] = df_all.groupby('stationID')['PM25.aqi'].transform(lambda x: x.fillna(method='ffill'))

/tmp/ipykernel_23/3537803524.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_all['PM25.aqi'] = df_all.groupby('stationID')['PM25.aqi'].transform(lambda x: x.fillna(method='ffill'))